<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>

    <add name="TemplateConnection" connectionString="" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
    <add name="TemplateConnection" connectionString="Data Source=CORP-DBDEV-003\APLICACOES;Initial Catalog=Sample;Integrated Security=True;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="UrlMongoDataBase" value="" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)" />
    <add key="UrlMongoDataBase" value="mongodb://corp-mongo-001.grupolocal:27017,corp-mongo-002.grupolocal:27017,corp-mongo-003.grupolocal:27017/LogCoreDev"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>